* {
	border: none;
	border-radius: 0px;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	min-height: 0;
}

	window#waybar {
	background: transparent;
	color: #f4d9e1
}

#workspaces {
	background: #282828;
	margin: 5px 5px 5px 5px;
	padding: 0px 5px 0px 5px;
	border-radius: 16px;
	border: solid 0px #f4d9e1;
	font-weight: normal;
	font-style: normal;
}
#workspaces button {
	padding: 0px 5px;
	border-radius: 16px;
	color: #928374;
}

#workspaces button.active {
	color: #f4d9e1;
	background-color: #333353;
	border-radius: 16px;
}

#workspaces button:hover {
	background-color: #E6B9C6;
	color: black;
	border-radius: 16px;
}

#idle_inhibitor, #pulseaudio, #network, #cpu, #memory, #temperature, #backlight, #keyboard-state, #battery, #tray, #clock {
	background: #282828;
	padding: 5px 5px 5px 5px;
	margin: 5px 5px 5px 5px;
	border-radius: 8px;
	border: solid 0px #f4d9e1;
}
